<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>image</key>
		<string>pa.png</string>
		<key>id</key>
		<integer>1</integer>
		<key>specialSkill</key>
		<string></string>
		<key>basicSkill</key>
		<string></string>
		<key>point</key>
		<integer>3</integer>
		<key>blood</key>
		<integer>1</integer>
		<key>name</key>
		<string>mason</string>
	</dict>
	<key>0</key>
	<dict>
		<key>image</key>
		<string>fw.png</string>
		<key>id</key>
		<integer>0</integer>
		<key>specialSkill</key>
		<string>skill2</string>
		<key>basicSkill</key>
		<string>skill1</string>
		<key>point</key>
		<integer>3</integer>
		<key>name</key>
		<string>蒙奇·D·戴士</string>
		<key>blood</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
