<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>specialSkill</key>
		<string>skill2</string>
		<key>normalSkill</key>
		<string>skill1</string>
		<key>point</key>
		<string>3</string>
		<key>name</key>
		<string>蒙奇·D·戴士</string>
		<key>blood</key>
		<string>5</string>
	</dict>
</dict>
</plist>
